body.about {
  .content {
    &.visual-left {
      color: white;
      &>.holder {
        padding-bottom: 12px;
        .visual {
          width: 323px;
          margin-left: 100px;
          margin-right: 112px;
          vertical-align: top;
          position: relative;          
          top: -56px;
          margin-bottom: -110px;
        }
        .text {
          display: inline-block;
          width: 608px;
          vertical-align: top;
          margin-top: 40px;
        }
        @include max-screen(1220px) {
          width: 900px;
          .visual {
            margin-left: 0;
          }
          .text {
            width: 448px;
          }
        }
      }
    }
  }
}