.fader {
  height: 300px;
  position: relative;
  background: black;
  .unit {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    padding-left: 60px;
    padding-top: 76px;
    box-sizing: border-box;
    position: absolute;
    @include prefixer(filter, brightness(0) contrast(7) saturate(0.5) opacity(0), webkit spec);
    //display: none;
    opacity: 0;
    @include transition(all 2s ease-in-out);
    @include user-select(none);
    .visual {
      width: 208px;
    }
    .text {
      margin-top: 27px;
      cursor: default;
    }
    &.active {
      //z-index: 10;
      display: block;
      opacity: 1;
      @include prefixer(filter, brightness(1) contrast(1) saturate(1) opacity(1), webkit spec);
      @include transition(all 2s ease-in-out);
    }
  }
}