// bower:scss
@import "../../bower_components/normalize-scss/_normalize.scss";
@import "../../bower_components/bower-bourbon/_bourbon.scss";
@import "../../bower_components/sass-mediaqueries/_media-queries.scss";
// endbower

* {
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

html, body {
  min-width: 960px;
}

.clrfx {
  clear: both;
}

@import 'fonts';
@import 'text';
@import 'header';
@import 'fader';
@import 'general';
@import 'index';
@import 'about';
@import 'contacts';
@import 'catalog';
@import 'footer';
