extends layout.jade

block vars
 - var bodyClass = "about";
 
block content
  .fader
    .unit(style="background-image:url('images/visual-slide-3.jpg');")
      img.visual(src="images/logo-text.png")
      .text.
        колесные диски <br>
        с японским сердцем
    .unit(style="background-image:url('images/visual-slide-1.png');")
      img.visual(src="images/logo-text.png")
      .text.
        колесные диски <br>
        с японским сердцем
        
  .content.col-2
    .holder
      h1 Об IJITSU
      .col
        p.
          Любой владелец знает, что индивидуальный стиль
          и&nbsp;особенный дизайн колесных дисков выгодно отличают
          автомобиль на&nbsp;дороге. Однако еще важнее техническое преимущество,
          которое дают диски отличного качества.
          Литые диски IJITSU на&nbsp;12% легче аналогов&nbsp;&mdash;
          это качественное отличие обеспечивает плавных ход автомобиля
          и&nbsp;значительно улучшает разгонную и&nbsp;тормозную динамику.
        p.
          Кроме того, диски IJITSU производят и&nbsp;тестируют в&nbsp;соответствии
          с&nbsp;японскими стандартами, которые гарантируют исключительную устойчивость
          дисков к&nbsp;агрессивной среде.
      .col
        p. 
          Линейка IJITSU представлена сериями классического и&nbsp;современного дизайна.
          В&nbsp;каталоге на&nbsp;нашем сайте представлены более 80&nbsp;моделей
          и&nbsp;цветовых решений, что позволит сделать правильный выбор как любителям
          традиционного дизайна, так и&nbsp;владельцам спортивных авто.
          
  .content.visual-left.red-bg
    .holder
      img.visual(src="images/decor-certificate.png")
      .text
        h2 Производство
        p.
          Уже несколько лет диски IJITSU поставляются для ряда моделей
          на&nbsp;производство крупнейшей японской автомобильной компании Toyota.
          Соответствие дисков техническим стандартам Toyota подтверждено соответствующим сертификатом.
  
  .content.col-2
    .holder
      h1 Производство
      .col
        p.
          Производство дисков начинается с&nbsp;процесса плавки.
          Во&nbsp;время плавления поддерживается постоянная температура
          формы и&nbsp;применяется автоматическое восстановительное очищение
          поверхности от&nbsp;алюминия. Состав алюминиевого сплава проверяется
          каждые 2 часа методом спектрального анализа и&nbsp;сохраняет заданные
          технологами постоянные пропорции. На&nbsp;этом этапе также производится
          радиографический контроль качества с&nbsp;помощью высокоточного рентгеновского дефектоскопа.
          Далее диски проходят двухэтапный обжиг с&nbsp;колебаниями температуры не&nbsp;более 2&deg;C.
          Следующий этап&nbsp;&mdash; механическая обработка и&nbsp;балансировка дисков на&nbsp;специально
          приобретенном в&nbsp;Японии оборудовании. Затем проводится стандартное испытание гелием на&nbsp;утечку,
          обеспечивающее отбраковку дисков с&nbsp;дефектами ещё до&nbsp;окрашивания.
      .col
        p. 
          Кроме того, перед окрашиванием диски очищаются от&nbsp;пыли и&nbsp;проходят
          процедуру предварительной обработки от&nbsp;коррозии на&nbsp;автоматизированной линии.
          Процесс покраски дисков производится на&nbsp;специализированном немецком оборудовании.
          Краска наносится методом распыления, который обеспечивает равномерное распределение
          и&nbsp;насыщенный цвет поверхности диска.
        p.
          Завершающая стадия&nbsp;&mdash; итоговый контроль качества.
          Его осуществляют на&nbsp;<nobr>координатно-измерительной</nobr> машине
          в&nbsp;соответствии с&nbsp;инженерными требованиями. Дополнительно проводится
          тестирование дисков по&nbsp;нормам стандарта VIA Независимой японской ассоциации автоинспекции.
  .content.col-2
    .holder
      h1 Стандарт VIA
      .col
        p.
          Отметка о&nbsp;соответствии стандарту VIA является лучшим подтверждением высокого
          качества дисков IJITSU. Нормы Независимой японской ассоциации автоинспекции
          (Japan Vehicle Inspection Association) считаются одними из&nbsp;самых строгих,
          и&nbsp;подобная маркировка может быть нанесена только на&nbsp;зарегистрированные диски,
          прошедшие регламентированные испытания.
      .col
        p. 
          Серия тестов включает испытание на&nbsp;усталость при повороте, испытание
          при динамической радиальной нагрузке, тест на&nbsp;ударную нагрузку, тест
          в&nbsp;солевой камере и&nbsp;испытание на&nbsp;растяжение.