extends layout.jade

block vars
 - var bodyClass = "contacts";
 
block content
  .content.col-2.mini-padding
    .holder
      h1 Официальные дилеры
      
  #contacts-map(data-json="/json/contacts-map.json")
  
  .content.contacts-block
    .holder
      .subject
        h2 Алтайский край
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Кемеровская область
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Ростовская область
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Алтайский край
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Кемеровская область
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Ростовская область
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Алтайский край
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Кемеровская область
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Ростовская область
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>