extends layout.jade

block vars
 - var bodyClass = "contacts";
 
block content
  .content.col-2.mini-padding
    .holder
      h1 Официальные дилеры
      a.link.opt(href="http://virbactd.ru/contacts/", target="_blank") Оптовые точки продаж
      
  #contacts-map(data-json="/json/contacts-map.json")
  
  .content.contacts-block
    .holder
      .subject
        h2 Алтайский край
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Кемеровская область
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Ростовская область
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Алтайский край
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Кемеровская область
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Ростовская область
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Алтайский край
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Кемеровская область
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
      .subject
        h2 Ростовская область
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
        .unit.
          г. Кемерово <br>
          пр. Кузнецкий, 58<br>
          ИП Речицкий <br>
          +7 (3842) 75-40-98 <br>
          <a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>
          
block footer_script
  script _IJITSU_.map_json = [ { "lat": 48.015883, "lng": 37.80285, "text": "<strong>г. Кемерово</strong> <br>пр. Кузнецкий, 58<br> ИП Речицкий <br>+7 (3842) 75-40-98 <br><a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>"}, {"lat": 48.7, "lng": 44.516667, "text": "<strong>г. Барнаул</strong> <br>пр. Команавтов, 58<br> ИП Речицкий <br>+7 (3842) 75-40-98 <br><a href='mailto:real42@rambler.ru'>real42@rambler.ru</a>" }]