extends layout.jade

block vars
 - var bodyClass = "catalog";
 
block content
  .fader
    .unit(style="background-image:url('images/visual-slide-4.jpg');")
      .text.
        Новая <br>
        коллекция 2015
    .unit(style="background-image:url('images/visual-slide-3.jpg');")
      img.visual(src="images/logo-text.png")
      .text.
        Пожалуй лучшие диски
  .content.col-4
    .holder
      h1 Каталог
      .wrapper
        a.col#id-1(href="")
          img.visual(src="images/visual-disc-1.png")
          .shadow
          h2 IJITSU 1122
          .detail
            .holder
              img.close(src="images/ico-cross.png")
              h2 IJITSU 1277
              .left
                .visual
                  img.show(src="images/visual-big-disc-1.png")
                  img.shadow(src="images/decor-shadow-big.png")
              .right
                h2 Цвета
                .colors
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title White
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Mosque.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-FairyLights.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Utrecht.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Stones.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                h2 Другие цвета
                .other-color Gray, Blue, Green
                h2 Модели
                .models
                  .left 
                    .letter-holder
                      .letter B
                      .car-holder
                        .car BMW x1
                        .car BMW x6
                    .letter-holder
                      .letter C
                      .car-holder
                        .car Chevrolet Aveo
                        .car Chevrolet Aveo
                    .letter-holder
                      .letter M
                      .car-holder
                        .car Mazda CX50
                  .right
                    .letter-holder
                      .letter O
                      .car-holder
                        .car Opel Astra
                  .clrfx
              .clrfx
        a.col#id-2(href="")
          img.visual(src="images/visual-disc-2.png")
          .shadow
          h2 IJITSU 1218
          .detail
            .holder
              img.close(src="images/ico-cross.png")
              h2 IJITSU 1277
              .left
                .visual
                  img.show(src="images/visual-big-disc-1.png")
                  img.shadow(src="images/decor-shadow-big.png")
              .right
                h2 Цвета
                .colors
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title White
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Mosque.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-FairyLights.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Utrecht.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Stones.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                h2 Другие цвета
                .other-color Gray, Blue, Green
                h2 Модели
                .models
                  .left 
                    .letter-holder
                      .letter B
                      .car-holder
                        .car BMW x1
                        .car BMW x6
                    .letter-holder
                      .letter C
                      .car-holder
                        .car Chevrolet Aveo
                        .car Chevrolet Aveo
                    .letter-holder
                      .letter M
                      .car-holder
                        .car Mazda CX50
                  .right
                    .letter-holder
                      .letter O
                      .car-holder
                        .car Opel Astra
                  .clrfx
              .clrfx
        a.col#id-3(href="")
          img.visual(src="images/visual-disc-1.png")
          .shadow
          h2 IJITSU 1122
          .detail
            .holder
              img.close(src="images/ico-cross.png")
              h2 IJITSU 1277
              .left
                .visual
                  img.show(src="images/visual-big-disc-1.png")
                  img.shadow(src="images/decor-shadow-big.png")
              .right
                h2 Цвета
                .colors
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title White
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Mosque.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-FairyLights.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Utrecht.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Stones.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                h2 Другие цвета
                .other-color Gray, Blue, Green
                h2 Модели
                .models
                  .left 
                    .letter-holder
                      .letter B
                      .car-holder
                        .car BMW x1
                        .car BMW x6
                    .letter-holder
                      .letter C
                      .car-holder
                        .car Chevrolet Aveo
                        .car Chevrolet Aveo
                    .letter-holder
                      .letter M
                      .car-holder
                        .car Mazda CX50
                  .right
                    .letter-holder
                      .letter O
                      .car-holder
                        .car Opel Astra
                  .clrfx
              .clrfx
        a.col#id-4(href="")
          img.visual(src="images/visual-disc-2.png")
          .shadow
          h2 IJITSU 1218
          .detail
            .holder
              img.close(src="images/ico-cross.png")
              h2 IJITSU 1277
              .left
                .visual
                  img.show(src="images/visual-big-disc-1.png")
                  img.shadow(src="images/decor-shadow-big.png")
              .right
                h2 Цвета
                .colors
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title White
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Mosque.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-FairyLights.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Utrecht.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Stones.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                h2 Другие цвета
                .other-color Gray, Blue, Green
                h2 Модели
                .models
                  .left 
                    .letter-holder
                      .letter B
                      .car-holder
                        .car BMW x1
                        .car BMW x6
                    .letter-holder
                      .letter C
                      .car-holder
                        .car Chevrolet Aveo
                        .car Chevrolet Aveo
                    .letter-holder
                      .letter M
                      .car-holder
                        .car Mazda CX50
                  .right
                    .letter-holder
                      .letter O
                      .car-holder
                        .car Opel Astra
                  .clrfx
              .clrfx
  .detail-view
    .mark
  .content.col-4
    .holder
      .wrapper
        a.col#id-5(href="")
          img.visual(src="images/visual-disc-1.png")
          .shadow
          h2 IJITSU 1122
          .detail
            .holder
              img.close(src="images/ico-cross.png")
              h2 IJITSU 1277
              .left
                .visual
                  img.show(src="images/visual-big-disc-1.png")
                  img.shadow(src="images/decor-shadow-big.png")
              .right
                h2 Цвета
                .colors
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title White
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Mosque.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-FairyLights.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Utrecht.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Stones.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                h2 Другие цвета
                .other-color Gray, Blue, Green
                h2 Модели
                .models
                  .left 
                    .letter-holder
                      .letter B
                      .car-holder
                        .car BMW x1
                        .car BMW x6
                    .letter-holder
                      .letter C
                      .car-holder
                        .car Chevrolet Aveo
                        .car Chevrolet Aveo
                    .letter-holder
                      .letter M
                      .car-holder
                        .car Mazda CX50
                  .right
                    .letter-holder
                      .letter O
                      .car-holder
                        .car Opel Astra
                  .clrfx
              .clrfx
        a.col#id-6(href="")
          img.visual(src="images/visual-disc-2.png")
          .shadow
          h2 IJITSU 1218
          .detail
            .holder
              img.close(src="images/ico-cross.png")
              h2 IJITSU 1277
              .left
                .visual
                  img.show(src="images/visual-big-disc-1.png")
                  img.shadow(src="images/decor-shadow-big.png")
              .right
                h2 Цвета
                .colors
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title White
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Mosque.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-FairyLights.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Utrecht.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Stones.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                h2 Другие цвета
                .other-color Gray, Blue, Green
                h2 Модели
                .models
                  .left 
                    .letter-holder
                      .letter B
                      .car-holder
                        .car BMW x1
                        .car BMW x6
                    .letter-holder
                      .letter C
                      .car-holder
                        .car Chevrolet Aveo
                        .car Chevrolet Aveo
                    .letter-holder
                      .letter M
                      .car-holder
                        .car Mazda CX50
                  .right
                    .letter-holder
                      .letter O
                      .car-holder
                        .car Opel Astra
                  .clrfx
              .clrfx
        a.col#id-7(href="")
          img.visual(src="images/visual-disc-1.png")
          .shadow
          h2 IJITSU 1122
          .detail
            .holder
              img.close(src="images/ico-cross.png")
              h2 IJITSU 1277
              .left
                .visual
                  img.show(src="images/visual-big-disc-1.png")
                  img.shadow(src="images/decor-shadow-big.png")
              .right
                h2 Цвета
                .colors
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title White
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Mosque.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-FairyLights.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Utrecht.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Stones.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                h2 Другие цвета
                .other-color Gray, Blue, Green
                h2 Модели
                .models
                  .left 
                    .letter-holder
                      .letter B
                      .car-holder
                        .car BMW x1
                        .car BMW x6
                    .letter-holder
                      .letter C
                      .car-holder
                        .car Chevrolet Aveo
                        .car Chevrolet Aveo
                    .letter-holder
                      .letter M
                      .car-holder
                        .car Mazda CX50
                  .right
                    .letter-holder
                      .letter O
                      .car-holder
                        .car Opel Astra
                  .clrfx
              .clrfx
        a.col#id-8(href="")
          img.visual(src="images/visual-disc-2.png")
          .shadow
          h2 IJITSU 1218
          .detail
            .holder
              img.close(src="images/ico-cross.png")
              h2 IJITSU 1277
              .left
                .visual
                  img.show(src="images/visual-big-disc-1.png")
                  img.shadow(src="images/decor-shadow-big.png")
              .right
                h2 Цвета
                .colors
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title White
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Mosque.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-FairyLights.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Utrecht.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="http://img.dummy-image-generator.com/abstract/dummy-336x328-Stones.jpg")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                  .unit(data-big-img="images/visual-big-disc-1.png")
                    img(src="images/visual-disc-1-small.png")
                    .title Black
                h2 Другие цвета
                .other-color Gray, Blue, Green
                h2 Модели
                .models
                  .left 
                    .letter-holder
                      .letter B
                      .car-holder
                        .car BMW x1
                        .car BMW x6
                    .letter-holder
                      .letter C
                      .car-holder
                        .car Chevrolet Aveo
                        .car Chevrolet Aveo
                    .letter-holder
                      .letter M
                      .car-holder
                        .car Mazda CX50
                  .right
                    .letter-holder
                      .letter O
                      .car-holder
                        .car Opel Astra
                  .clrfx
              .clrfx
  .detail-view
    .mark
