#header
  a.logo(href="index.html")
    img(src="images/logo-main.png")
  ul#menu
    li
      a.active(href="index.html") Главная
    li
      a(href="catalog.html") Каталог
    li
      a(href="about.html") Об IJUTSU
    li 
      a(href="wherebuy.html") Где купить