#footer
  .c Все права защищены &copy; <span class="curent-year"></span>, группа компаний 
    a(href="http://www.virbacavto.ru/", target="_blank") ВИРБАК
  .dev Разработано агентством 
    a(href="http://grapheme.ru/", target="_blank") Графема