#header
  a.logo(href="index.html")
    img(src="images/logo-main.png")
  #menu
    a.active(href="index.html")
      .label
        Главная
    a(href="catalog.html")
      .label
        Каталог
    a(href="about.html")
      .label
        Об IJUTSU
    a(href="wherebuy.html")
      .label
        Где купить